body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: auto;
}

.item {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}